<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Kapakana:wght@300..400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kapakana:wght@300..400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Olympus - Mountain of The Gods</title>
  </head>
  <body>
    <div class="navigation-bar">
      <h1 id="logo"><a href="/">Olympus</a></h1>
      <h2>Home</h2>
      <h2>Explore</h2>
      <h2>About</h2>
      <input id="search-bar" placeholder="Explore..." />
    </div>
    <div class="zeus-section">
      <div id="section-1">
        <h2 id="gods-name"></h2>
        <p>
          Welcome to <span id="highlight"><i>Olympus</i></span
          >, where gods watch and mortals tremble. Here, ancient powers stir,
          waiting in the shadows to test your worth. Step
          <span id="highlight"><i>cautiously</i></span
          >, for in this realm, the divine do not grant mercy – they demand
          reverence.<br /><br />
          Every whisper of the wind, every crack of thunder is a reminder:
          Olympus is <span id="highlight"><i>no sanctuary</i></span
          >. It is a realm of awe and dread, and the gods are waiting.
        </p>
        <button id="start-button">Meet the Gods ➜]</button>
      </div>
      <div id="section-2">
        <img id="zeus" src="static/icons&img/Zeus-Statue.png" alt="Zeus" />
      </div>
    </div>
    <div class="vertical-divider">
      <div></div>
    </div>
    <div class="hades-section">
      <div id="img-section">
        <img id="hades" src="static/icons&img/Hades-2.png" alt="hades" />
      </div>
      <div id="text-section">
        <h2>Hades - Lord of The Dead</h2>
        <p>
          Hades, the enigmatic ruler of the underworld, presides over the realm
          of shadows and lost souls. Shrouded in darkness, he governs the dead
          with a cold, unyielding will, commanding loyalty and fear alike. His
          dominion, hidden beneath the world, is a kingdom where no light
          penetrates, and no soul escapes. Though often feared, Hades embodies
          not just death, but the unbreakable cycle of life’s end, the keeper of
          balance between the mortal world and the abyss.
        </p>
      </div>
    </div>
    <div id="decoration-1"></div>
    <div id="decoration-2"></div>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
  </body>
</html>
